PORT=5000
NODE_ENV=development
JWT_SECRET=replace-this-with-a-secret
REFRESH_TOKEN_SECRET=replace-this-with-a-refresh-secret
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=password
DB_NAME=db name
EXTERNAL_AUTH_API_URL= the api